@model WebAspNet8Rotativa.Models.Pessoa

@{
    Layout = null;
}

<head class="text-center">
    <h1>Relatório de pessoa teste</h1>
</head>

<div class="text-center">
    <p>@Model.Id</p>
    <p>@Model.Nome</p>
    <p>@Model.Email</p>
</div>